/*电商网站产品分类页的CSS样式*/

.wrapper {
    margin-top: 17px;
}

/* 左侧的部分 s */
.wrapper .leftArea {
    width: 183px;
    border: solid 1px #d7d7d7;
    background-color: #f3f3f3;
}

.leftArea .product-title {
    height: 34px;
    font: bold 14px/34px "宋体";
    text-align: center;
    border-bottom: solid 1px #cdcdcd;
}

.leftArea .product-title a {
    color: #555;
}

.leftArea .product-item {
    padding: 10px 0 0 20px;
    border-bottom: dotted 1px #cdcdcd;
}

.leftArea .product-item dt {
    height: 30px;
    font-family: "宋体";
    font-weight: bold;
    color: #555;
}

.leftArea .product-item dd {
    font-size: 0;
    font-family: "宋体";
}
.leftArea .product-item dd a {
    display: inline-block;
    width: 81px;
    height: 25px;
    font-size: 12px;
    color: #555;
}

.leftArea dl.last {
    border-bottom: none;
}
/* 左侧的部分 e */

/* 右侧的banner s */
.banner {
    width: 811px;
    height: 320px;
    margin-bottom: 7px;
    position: relative;
    overflow: hidden;
}

.banner ul {
    width: 1622px;
    position: absolute;
    top: 0;
    left: 0;
}

.banner ul li {
    float: left;
}

.banner ol {
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -42px;
}

.banner ol li {
    float: left;
    width: 22px;
    height: 6px;
    margin-right: 6px;
    background-color: #fff;
    text-indent: -2000em;
    overflow: hidden;
    cursor: pointer;
}

.banner ol li.current {
    background-color: #ff7700;
}
/* 右侧的banner e */

/* 商品展示区 s */
.shopShow {
}

/* 商品类别名称*/
.shopShow .shopClassName {
    height: 34px;
    border-bottom: solid 2px #ccc;
}

.shopClassName h3 {
    width: 180px;
    height: 34px;
    padding-left: 10px;
    border-bottom: solid 2px #096dba;
    font: bold 14px/34px "宋体", "SimSun";
}

/* 商品列表 */
.shopList {
    width: 790px;
    margin-left: 16px;
}

.shopItem {
    margin-right: 32px;
    margin-bottom: 30px;
    margin-top: 18px;
}

/* 商品名称 */
.shopItem .shopName {
    width: 162px;
    height: 50px;
}

.shopItem .shopName a {
    color: #333333;
}

/* 商品价格 */
.shopItem .shopPrice {
    height: 20px;
    color: #d4105a;
    font-weight: bold;
}

/* 商品评论中的星星*/
.shopItem .shopComment .star {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("../images/star.png") left 1px no-repeat;
}

/* 商品评论的条数 */
.shopItem .shopComment .commentNum {
    color: #085c9b;
}
/* 商品展示区 e */


















