/* 电商网站公共部分的CSS样式 */

/* 版心 */
.inner-c {
    width: 1000px;
    margin: 0 auto;
}

/* 头部 s */

/* 顶部通栏 */
.header .topbar {
    width: 100%;
    height: 38px;
    font: 12px/38px "宋体";
    background-color: #f7f7f7;
    color: #666;
}

/* 左侧区域 */
.topbar .leftArea {
    height: 38px;
    padding-left: 17px;
    background: url("../images/icon/collection.jpg") left center no-repeat;
}

.topbar .leftArea a {
    font-weight: bold;
}

.header .logoBar {
    width: 100%;
    height: 87px;
    background-color: #1d7ad9;
}

/* 网站logo */
.logoBar .logo {
    padding-top: 14px;
}

/* 搜索 */
.search-box {
    height: 35px;
    line-height: 35px;
    margin-top: 23px;
    margin-left: 185px;
}

/* 搜索框 */
.search-box .search-text {
    width: 350px;
    height: 100%;
    padding: 0 5px 0 5px;
    background-color: #fff;
}

/* 搜索按钮 */
.search-box .search-btn {
    width: 69px;
    height: 100%;
    font-family: "微软雅黑", "microsoft yahei";
    font-size: 14px;
    color: #fff;
    background-color: #ff8c00;
    cursor: pointer;
}

/* 购物车 */
.shopCar {
    width: 145px;
    height: 35px;
    margin-top: 23px;
    margin-left: 31px;
    font: 14px/35px "微软雅黑", "microsoft yahei";
    background-color: #ff8800;
    color: #fff;
}

.shopCar .shopText {
    width: 47px;
    height: 100%;
    padding-left: 40px;
    border-right: solid 1px #e27a00;
    background: url("../images/icon/shopcar.jpg") 10px center no-repeat;
}

.shopCar .shopNum {
    width: 27px;
    height: 100%;
    padding-right: 29px;
    text-align: right;
    border-left: solid 1px #ff9c01;
    background: url("../images/icon/arrow.jpg") 33px center no-repeat;
}
/* 头部 e */

/* 导航栏 s */
.navBar {
    width: 100%;
    height: 35px;
    background-color: #1369c0;
}

.shopClass h3 {
    width: 149px;
    height: 35px;
    padding-left: 40px;
    background: url("../images/icon/arrow-down.png") 148px center no-repeat;
    font: 16px/35px "微软雅黑", "microsoft yahei";
    color: #fff;
}

.nav li {
    width: 100px;
    height: 35px;
    font: 14px/35px "微软雅黑", "microsoft yahei";
    text-align: center;
}

.nav li a {
    color: #fff;
}

.nav li.active {
    background-color: #4593fd;
}
/* 导航栏 e */

/* 脚部 s */
.footer {
    width: 100%;
    height: 224px;
    margin-top: 40px;
    background-color: #d4d4d4;
    font-family: "新宋体";
    color: #000;
    text-align: center;
}

.footer .info {
    padding-top: 56px;
    padding-bottom: 12px;
}

.footer .copyright {
    padding-bottom: 38px;
}

.footer .footerIcon {
    font-size: 0;
}

.footer .footerIcon img {
    display: inline-block;
    margin-right: 26px;
}

.footer a {
    color: #000;
}
/* 脚部 e */

















