
/* 导航栏 s */
.navBar {
    width: 100%;
    height: 35px;
    background-color: #1369c0;
}

.shopClass {
    position: relative;
}

.shopClass h3 {
    width: 149px;
    height: 35px;
    padding-left: 40px;
    background: url("../images/icon/arrow-down.png") 148px center no-repeat;
    font: 16px/35px "微软雅黑", "microsoft yahei";
    color: #fff;
}

.nav li {
    width: 100px;
    height: 35px;
    font: 14px/35px "微软雅黑", "microsoft yahei";
    text-align: center;
}

.nav li a {
    color: #fff;
}

.nav li.active {
    background-color: #4593fd;
}

.shopClass-show {
    width: 100%;
    position: absolute;
    left: 0;
    top: 35px;
}

.shopClass-show .shopClass-item {
    width: 179px;
    height: 47px;
    padding: 15px 0 0 10px;
    background-color: #4593fd;
    border-top: solid 1px #5aa1fe;
    border-bottom: solid 1px #3487f2;
}

/* shopClass-item的active状态 */
.shopClass-show .active {
    background-color: #fff;
    border-left: solid 1px #4593fd;
    color: #000;
}

/* 隐藏dt的背景 */
.shopClass-show .active dt {
    background: none;
}

.shopClass-show .active a {
    color: #000;
}

.shopClass-show .active .aLink {
    color: #fff;
    text-decoration: none;
}

.shopClass-item dt {
    height: 25px;
    background: url("../images/icon/arrow-right.png") 162px center no-repeat;
    font-size: 14px;
}

.shopClass-item dt a {
    color: #fff;
}

.shopClass-item dt .aLink {
    display: inline-block;
    width: 48px;
    height: 20px;
    line-height: 20px;
    background: url("../images/icon/aLink.png") left center no-repeat;
    text-align: center;
    text-decoration: underline;
    font-size: 12px;
}

.shopClass-item dd {
    font-family: "宋体", "SimSun";
    font-size: 12px;
}

.shopClass-item dd a{
    color: #c2d9f8;
}

.shopClass-list {
    width: 530px;
    height: 364px;
    padding: 0 20px 0 20px;
    border: solid 1px #e5e5e5;
    position: absolute;
    top: 35px;
    left: 189px;
}

.shopClass-list dl {
    margin-top: 18px;
    font-family: "宋体";
    font-size: 12px;
    border-bottom: solid 1px #e5e5e5;
}

.shopList-item dt {
    width: 68px;
    height: 27px;
    font-weight: bold;
    color: #4b88da;
}

.shopList-item dd a{
    display: inline-block;
    height: 26px;
    color: #666666;
}

.shopList-links a {
    display: inline-block;
    margin: 6px 10px 0 0;
    padding: 0 14px 0 8px;
    font: 12px/26px "宋体";
    background-color: #2785e6;
    color: #fff;
}

.shopList-links a span {
    display: inline-block;
    width: 5px;
    height: 8px;
    margin-left: 8px;
    background: url("../images/icon/arrow.png") left center no-repeat;
}
/*导航栏 e */

/* banner部分 s */
.banner-bar {
    width: 811px;
    height: 320px;
    margin-left: 189px;
    position: relative;
    overflow: hidden;
}

.banner-bar ul {
    width: 1628px;
    position: absolute;
    left: 0;
    top: 0;
}

.banner-bar ul li {
    float: left;
}

.banner-bar ol {
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -42px;
}

.banner-bar ol li {
    float: left;
    background-color: #fff;
    margin-right: 6px;
    font-size: 0;
}

.banner-bar ol li.current {
    background-color: #ff7700;
}

.banner-bar ol a {
    display: inline-block;
    width: 22px;
    height: 6px;
}
/* banner部分 e */

/* 产品列表 s */

/* 商品的标题栏 */
.product .product-title {
    width: 100%;
    height: 75px;
}

/* 商品标题栏左侧的图标 */
.product .product-icon {
    margin: 15px 14px 0 0;
}

/* 商品的标题 */
.product .product-title h3 {
    height: 75px;
    line-height: 75px;
    font: 24px/75px "微软雅黑", "microsoft yahei";
}

/* 更多按钮 */
.product .more {
    margin: 48px 21px 0 0;
    font-family: "新宋体";
    font-size: 12px;
}

.product .more a {
    color: #000;
}

.product .more a:hover {
    text-decoration: underline;
}

/* 右侧的商品展示区 */
.product-content .rightArea {
    width: 809px;
    height: 396px;
    border-top: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-bottom: solid 3px #ff7201;
}

/* 商品展示区的商品 */
.productList-top .product-item {
    width: 199px;
    height: 279px;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;

    /*清除display:inline-block属性产生的空隙*/
    font-size: 0;
}

.productList-top .product-item a {
    display: inline-block;
    padding: 45px 0 24px 30px;
}

/* 商品的名称 */
.productList-top  .product-item .product-name {
    margin-bottom: 8px;
    font-size: 16px;
    color: #000;
    text-align: center;
}

.productList-top .product-item .price {
    font-size: 14px;
    color: #ff7300;
    text-align: center;
}

.productList-bottom .product-item {
    width: 199px;
    height: 116px;
    border-right: solid 1px #ccc;
}

.productList-bottom .product-item a {
    width: 102px;
    height: 116px;
}

.productList-bottom .product-item .product-info {
    width: 97px;
    height: 116px;
}
.rightArea li.last {
    width: 208px;
    border-right: none;
}
/* 产品列表 e */


















