@charset "utf-8";

/* 重置标签的CSS样式 */

/* CSS Document */
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input, a {
    margin:0;
    padding:0;
}

body {
    font-size:12px;
    font-family: "微软雅黑", "microsoft yahei";
}

img {
    border:none;
}

li {
    list-style:none;
}

input,select,textarea {
    outline:none;
    border:none;
    background:none;
}

textarea {
    resize:none;
}

a {
    text-decoration:none;
    color:#666;
}

/*清浮动*/
.clearfix:after {
    content:"";
    display:block;
    clear:both;
}

.clearfix {
    zoom:1;
}

.fl {
    float:left;
}

.fr {
    float:right;
}

.hide {
    display: none;
}

.show {
    display: block;
}




























